MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=bi_platform
MYSQL_USER=bi_user
MYSQL_PASSWORD=bi_password
MYSQL_PORT=3310

REDIS_PASSWORD=redispassword
REDIS_PORT=6379

# --- Keycloak ---
KEYCLOAK_PORT=8081
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123
# Database riêng của Keycloak trong container MySQL
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak_password
